* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-image: url("./assets/pexels-pixabay.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: #ffffff;
    height: 100vh;
}

/*Copiei e colei code da própria pag da fonte, parte css*/

body * {


    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;

    line-height: 160%;
    /*espaço entre linhas*/

}

/*arrumando imagem dentro do header*/
header {

    padding-top: 2rem;
    text-align: center;
}

header img {

    width: 20rem;

}

main {
    max-width: 36rem;
    width: 90%;
    /*sempre 90% da pag, e seu máximo é 36 rem*/
    margin: 3rem auto;
    /*3rem em cima e baixo e lados auto
    ou 1rem 2rem 3rem 4rem
       cima direita baixo esquerda
    ou 1rem 2rem 3rem
        cima lados baixo
    ou 1rem
        para todos lados*/
}

section {
    
    background-image: linear-gradient(90deg, #08040f 5%, #45147e 35%, #b3e9c7 65%, #e7f59e 100%);
    border-radius: 0.625rem;
    padding-top: 3px;
    border:2px solid rgb(239, 4, 75);
    padding: 0;
}

section> div {
    padding: 2rem;
    padding-top: 1.5rem;
    border-radius: 0.5rem;
    /*para arredonadar*/
    background-color: #08040f;
    
}

